<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Enable WiFi Only to only send and receive location updates when connected to WiFi.&#xA;&#xA;Enable Favorite Food Notifications to recieve a notification when a dining hall is serving one of your favorites.</string>
			<key>Title</key>
			<string>Main</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>WiFi Only</string>
			<key>Key</key>
			<string>pref_wifi_only</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Favorite Food Notifications</string>
			<key>Key</key>
			<string>pref_notify_favorites</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Enter foods to notify you about exactly as they appear on the menu. Separate multiple foods with a comma.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Favorites</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Tater Tots,Tender Tuesday,Pulled Pork</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Favorite Foods</string>
			<key>Key</key>
			<string>pref_favorites</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
